# Basic Time Series Models - Lab

## Introduction

Now that you have an initial understanding of the the White Noise and the Random Walk model, let's try to generate some examples!

## Objectives

You will be able to:
- Explain what the goal is of time series modeling
- Understand and explain what a White Noise model is
- Understand and explain what a Random Walk model is
- Understand the mathematical formulations of Random Walk and White Noise models

## A White Noise Model

To get a good sense of how a model works, it is always a good idea to generate a process. Let's consider the following example:
- Every day in August, September and October 2018, Nina takes the subway to work. Let's ignore weekends for now and assume that Nina works every day.
- We know that on average, it takes her 25 minutes, and the standard deviation is 4 minutes. 
- Create and visualize a time series that reflects this information.

Let's import pandas, numpy and matplotlib.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


np.random.seed(12) # do not change this seed.

Create the dates. You can do this using `pd.date_range`, more info [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html).

In [4]:
# your code here
dates = pd.date_range(start='2018-08-01',end='2018-10-31')

Generate the values for the wite noise process representing Nina's commute in August and September.

In [7]:
# your code here
pd.DataFrame(np.random.normal(25,4,len(dates)),index=dates)

                    0
2018-08-01  20.177418
2018-08-02  23.473821
2018-08-03  27.267375
2018-08-04  29.309347
2018-08-05  21.238565
2018-08-06  26.134428
2018-08-07  23.438718
2018-08-08  16.383502
2018-08-09  19.821265
2018-08-10  22.735117
2018-08-11  22.929163
2018-08-12  23.416487
2018-08-13  22.585219
2018-08-14  26.469572
2018-08-15  21.163953
2018-08-16  18.618813
2018-08-17  27.030091
2018-08-18  22.526518
2018-08-19  28.163172
2018-08-20  21.662380
2018-08-21  30.237880
2018-08-22  20.045032
2018-08-23  20.189050
2018-08-24  27.784586
2018-08-25  32.115938
2018-08-26  21.814731
2018-08-27  31.279357
2018-08-28  31.086654
2018-08-29  28.159662
2018-08-30  24.131116
...               ...
2018-10-02  30.157794
2018-10-03  24.657914
2018-10-04  23.093505
2018-10-05  21.145142
2018-10-06  29.615932
2018-10-07  23.220536
2018-10-08  22.961424
2018-10-09  23.100027
2018-10-10  21.834288
2018-10-11  18.227526
2018-10-12  22.035348
2018-10-13  21.449394
2018-10-14  27.777538
2018-10-15  19.728868
2018-10-16  27.730221
2018-10-17  22.908070
2018-10-18  21.726328
2018-10-19  24.290801
2018-10-20  25.130008
2018-10-21  25.405086
2018-10-22  27.303845
2018-10-23  25.841508
2018-10-24  18.774743
2018-10-25  22.226739
2018-10-26  31.498436
2018-10-27  24.517338
2018-10-28  15.605673
2018-10-29  25.669029
2018-10-30  31.799859
2018-10-31  29.675595

[92 rows x 1 columns]

Create a time series with the dates and the commute times.

In [ ]:
# your code here

Visualize the time series and set appropriate axis labels.

In [ ]:
# your code here

Print Nina's shortest and longest commute.

In [ ]:
# your code here

In [ ]:
# your code here

Look at the distribution of commute times.

In [ ]:
# your code here

Compute the standard deviation and the mean of the commute series. The fact that the mean and standard error are constant over time is crucial!

In [ ]:
# your code here

In [ ]:
# your code here

Now, let's look at the mean and standard error for August and October respectively.

In [ ]:
# your code here

Because you've generated this data, you know that the mean and constant will be the same over time. But comparing mean and standard deviation over time is useful practice for real data examples to check if a process is White Noise!

## A Random Walk Model

Remember from the lecture that the Random Walk Model:

- Has no specified mean or variance
- Has a strong dependence over time

Mathematically, this can be written as:

$$Y_t = Y_{t-1} + \epsilon_t$$

Because today's value depends on yesterday's, you need a starting value when you start off your time series. In practice, this is what the first few time series values look like:
$$ Y_0 = \text{some specified starting value}$$
$$Y_1= Y_{0}+ \epsilon_1 $$
$$Y_2= Y_{1}+ \epsilon_2 = Y_{0} + \epsilon_1 + \epsilon_2  $$
$$Y_3= Y_{2}+ \epsilon_3 = Y_{0} + \epsilon_1 + \epsilon_2 + \epsilon_3 $$
$$\ldots $$

Keeping this in mind, let's create a random walk model:
- starting from a value of 1000 USD of a share value upon a company's first IPO (initial public offering) in 2010 until end of November of the same year, generate a random walk model with a white noise error term, which has a standard error of 10.

In [ ]:
# keep the random seed
np.random.seed(11)

# create a series with the specified dates

Visualize the time series with correct axis labels

In [ ]:
# your code here

You can see how this very much looks like the exchange rate series you looked at in the lecture!

## Random Walk with a Drift

Repeat the above, but include a drift parameter $c$ of 8 now!

In [ ]:
# keep the random seed

In [ ]:
# your code here

Note that there is a very strong drift here!

## Differencing in a Random Walk model

One important property of the Random Walk model is that a differenced random walk returns a white noise. This is a result of the mathematical formula:

$$Y_t = Y_{t-1} + \epsilon_t$$
which is equivalent to
$$Y_t - Y_{t-1} = \epsilon_t$$

and we know that $\epsilon_t$ is a mean-zero white noise process!

Plot the differenced time series for the shares time series (no drift).

In [ ]:
# your code here

This does look a lot like a white noise series!

Plot the differenced time series for the shares time series (with a drift).

In [ ]:
# your code here

This is also a white noise series, but what can you tell about the mean?

The mean is equal to the drift $c$, so 8 for this example!

## Summary

Great, you now know how a Random Walk and Moving Average model work!